<form ng-submit="uploadFile()" class="form-horizontal" enctype="multipart/form-data">
    <input id="fileinput" type="file" name="file" ng-model="document.fileInput" id="file" onchange="angular.element(this).scope().setTitle(this)" />
    <input type="text" class="col-sm-4" ng-model="document.title" id="title" />
    <button class="btn btn-primary" type="submit">
        Submit
    </button>
</form>

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
<div></div>

<form action="http://localhost:8080/test/sp/file/upload" method="post" enctype="multipart/form-data">


    <input type="file" name="file" />
    <input type="submit" value="ok" />

</form>


<form ng-submit="uploadFile1()">
    <input type="file" file-model="myFile" />
    <input type="submit" value="ok" />
</form>



{{testData}}